.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
src-tauri/target
src-tauri/gen/
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.idea/
.vscode/
.DS_Store
pnpm-workspace.yaml
pnpm-lock.yaml
pnpm-lock.json
package-lock.json
yarn.lock
package-lock.json
dist
dist-ssr
/target
/gen
