@import "tailwindcss";
@plugin "daisyui";

@layer utilities {
    .no-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(96% 0.016 293.756);
    --color-base-200: oklch(94% 0.029 294.588);
    --color-base-300: oklch(89% 0.057 293.283);
    --color-base-content: oklch(38% 0.189 293.745);
    --color-primary: oklch(82% 0.12 346.018);
    --color-primary-content: oklch(28% 0.109 3.907);
    --color-secondary: oklch(85% 0.138 181.071);
    --color-secondary-content: oklch(27% 0.046 192.524);
    --color-accent: oklch(86% 0.005 56.366);
    --color-accent-content: oklch(14% 0.004 49.25);
    --color-neutral: oklch(38% 0.189 293.745);
    --color-neutral-content: oklch(96% 0.016 293.756);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(66% 0.179 58.318);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 2rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}

@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(11.2% 0.149 302.7);
    --color-base-200: oklch(11.2% 0.149 302.7);
    --color-base-300: oklch(43% 0.218 303.724);
    --color-base-content: oklch(96% 0.001 286.375);
    --color-primary: oklch(83% 0.128 66.29);
    --color-primary-content: oklch(26% 0.079 36.259);
    --color-secondary: oklch(85% 0.138 181.071);
    --color-secondary-content: oklch(27% 0.046 192.524);
    --color-accent: oklch(87% 0.15 154.449);
    --color-accent-content: oklch(26% 0.065 152.934);
    --color-neutral: oklch(37% 0.013 285.805);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-content: oklch(26% 0.065 152.934);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(27% 0.077 45.635);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 2rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
